*{
	margin: 0;
	padding: 0;
}

#header{
	width: 100%;
	height: 80px;
	background: #333333;
}

.header-contain{
	width: 960px;
	height: 80px;
	margin: 0 auto;
}

.header-contain p{
	line-height: 80px;
	color: white;
	display: inline;
}

.header-nav{
	height: 80px;
	float: right;
}

.header-contain ul li{
	float: left;
	margin-left: 10px;
	list-style: none;
}

.header-contain ul li a{
	color: white;
}

#banner{
	width: 100%;
	height: 240px;
	background-color: #66BB33;
	position: relative;
}

#banner-button{
	position: absolute;
	top: 180px;
	right: 100px;
}

.banner-button1{
	position: relative;
	top: -6px;
	width: 30px;
	height: 50px;
	border: 1px black solid;
	background: #E0F1D6;
}

.banner-button{
	width: 30px;
	height: 35px;
	border: 1px black solid;
	background-color: #B2DD99;
}

#nav{
	width: 100%;
	height: 80px;
	background: white;
	border-bottom: 1px gray solid;
	box-sizing: border-box;
}

.nav-contain{
	width: 960px;
	height: 80px;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
}

.nav-contain-nav{
	position: absolute;
	bottom: 0;
	display: flex;
}

.nav-content{
	height: 50px;
	width: 100px;
	border: 1px gray solid;
	line-height: 50px;
	text-align: center;
	background: #EEEEEE;
	border-top-left-radius:1em;
	border-top-right-radius:1em;
}

.nav-content a{
	text-decoration: none;
	color: black;
}

#nav-content{
	border-bottom: 1px white solid;
	background: white;
}

#contain{
	width: 960px;
	margin: 0 auto;
}

.content-box{
	display: flex;
	justify-content: space-around;
}

.content-item{
	flex: 1;
	height: 176px;
	padding: 80px;
	font-size: 12px;
	border: 1px gray solid;
	text-align: center;
	box-sizing: border-box;
	margin-top: 10px;
	margin-right: 10px;
}

.footer{
    width: 100%;
    height: 120px;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 12px;
    color: #fff;
    background: #828282;
    text-align: center;
}